/*Fonts*/
@font-face {
	font-family: "PT Sans";
	src: url("../fonts/PTSans.woff2") format("woff2"),
	url("../fonts/PTSans.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
	url("../fonts/PTSans-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

/*Variables*/
:root {
	--main-text-black: #000000; 
	--additional-text-dark-charcoal: #333333;
	--features-text-white: #FFFFFF;
	--background-features-blue: #81B3D2;
	--background-features-gray: #EEEEEE;
	--background-form-title-hex: #766357;
	--buttons-form-dark-gray: #A9A9A9;
	--background-form-input-gray95: #F2F2F2;
	--logo-htmlacademy: #231F20;
	--catalog-filter-range: #ABABAB;
	--locked-checkbox-dim-gray: #6A6A6A;
	--hover-catalog-btn-more: #669EC0;
	--pressed-catalog-btn-more: #5496BD;
	--hover-catalog-btn-book: #604E43;
	--pressed-catalog-btn-book: #503E33;
	--pressed-logo-htmlacademy: #BDBBBC;
	--hover-form-input: #EBEBEB;
	--focus-form-input: #E5E5E5;
}


/*Main*/

.page-body {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-transform: uppercase;
	color: var(--main-text-black);
	background-color: var(--background-form-input-gray95);
}

.wrapper {
	max-width: 1200px;
	background: var(--features-text-white);
}

/*Main navigation*/
.main-navigation {
	font-weight: 700;
	font-size: 14px;
	line-height: 26px;
	background-color: transparent;
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	text-decoration: none;
	color: var(--main-text-black);
}

.site-navigation a:hover {
	color: var(--background-features-blue);
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}
.site-navigation a:not([href]) {
	color: var(--background-form-title-hex);
}


/*Slider*/

.main-slider {
	width: 1200px;
	height: 509px;
	background:
	url("../img/slide-index.jpg");
}

/*Introduction*/

.hidden-title {
	display:none;
}

.introduction {
	line-height: 26px;
	text-align: center;
}

.introduction h2 {
	font-size: 21px;
	font-weight: 700;
}

/*Features*/

.main-features {
	color: var(--features-text-white);
	background-color: var(--background-features-blue);
}

.main-features h3 {
	font-weight: 700;
	font-size: 21px;
}

.additional-features {
	color: var(--additional-text-dark-charcoal);
}
.additional-features h3 {
	font-weight: 700;
	font-size: 21px;
}

.accommodation {
	background: url("../img/icon-accommodation.svg") no-repeat 50% 50%;
}

.food {
	background: url("../img/icon-food.svg") no-repeat 50% 50%;
}

.souvenirs {
	background: url("../img/icon-souvenirs.svg") no-repeat 50% 50%;
}

.main-features-last {
	background-color: var(--background-features-gray);
	color: var(--additional-text-dark-charcoal);
}

.main-features-last h3{
	color: var(--main-text-black);
	font-weight: 700;
	font-size: 21px;
}

/*Reservation form*/

.reservation span{
	font-weight: 700;
	font-size: 30px;
	line-height: 24px;
}

.reservation>p {
	line-height: 24px;
	color: var(--additional-text-dark-charcoal);
}

.reservation-form-info {
	color: var(--features-text-white);
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	background: var(--background-form-title-hex);
}

.reservation-form-info:hover {
	background: var(--hover-catalog-btn-book);
}

.reservation-form-info:active {
	color: rgba(255,255,255,0.3);
	background: var(--pressed-catalog-btn-book);
}

.reservation-form {
	font-weight: 700;
	line-height: 26px;
}

.reservation-date-calendar {	
	position: relative;
}


.reservation-date-calendar input {
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	color: var(--main-text-black);
 	background-color: var(--background-form-input-gray95);
 	border: none; 	
}

.choose-date {
	position: absolute;
	background-image: url("../img/calendar.svg");
	background-repeat: no-repeat;
}

.reservation-item input {
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	color: var(--main-text-black);
 	background-color: var(--background-form-input-gray95);
 	border: none; 	
}

.reservation-date-calendar input:hover {
	background-color: var(--hover-form-input);
}

.reservation-date-calendar input:active {
	background-color: var(--features-text-white);
	border: 2px solid 229,229,229,1;
}

.reservation-item input:hover {
	background-color: var(--hover-form-input);
}

.reservation-item input:active {
	background-color: var(--features-text-white);
	border: 2px solid var(--focus-form-input);
}




/*Form buttons*/

.reservation-button-less {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url("../img/minus.svg");
	fill: var(--buttons-form-dark-gray);
	border: none;
}

.reservation-button-more {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url("../img/plus.svg");
	border: none;
}

.reservation-button {
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	color: var(--features-text-white);
	text-transform: uppercase;
	background-color: var(--background-features-blue);
	border: none;
}

.reservation-button:hover {
	background-color: var(--hover-catalog-btn-more);
	border: none;
}

.reservation-button:active {
	color: rgba(255,255,255,0.3);
	background-color: var(--pressed-catalog-btn-more);
	border: none;
}

/*Footer*/

.main-footer {
	background: rgba(255, 255, 255, 0.9);
	color: var(--main-text-black);
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.main-footer a {
	text-decoration: none;
	color: var(--main-text-black);
}

/*Social*/

.footer-social ul {
  list-style: none;
}

.social-button {
	background-color: var(--background-features-blue);
}

.social-button:hover {
	background: var(--hover-catalog-btn-more);
}

.social-button:active {
	background: var(--pressed-catalog-btn-more);
	fill-opacity: 0.3;
}

.copyright-button path:hover {
	fill: var(--background-features-blue);
}

.copyright-button path:active {
	fill: var(--pressed-logo-htmlacademy);
}